.form {
  // border: 1px solid #fdf6e3;
  background: #1e2745;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 18px;
  box-shadow: 0px 4px 4px #121a33;

  h1 {
    margin: 0 0 15px;
    font-size: 22px;
    color: #fff;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 60px 0;
  }

  form {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      display: block;
      padding: 5px 0;
      margin-bottom: 15px;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #151d33;
      outline: 0;
      color: #ddd;
      background: transparent;
    }

    input[type="submit"] {
      align-self: flex-end;
    }
  }
}
